[submodule "submodules/tpm"]
	path = submodules/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "submodules/zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "submodules/junegunn/fzf-git.sh"]
  path = submodules/fzf-git
  url = https://github.com/junegunn/fzf-git.sh
[submodule "submodules/fzf-git"]
	path = submodules/fzf-git
	url = https://github.com/junegunn/fzf-git.sh
[submodule "submodules/ctags"]
	path = submodules/ctags
	url = git@github.com:universal-ctags/ctags.git
